*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  .content3 {
    width: 100%;
    position: absolute; 
    top: 10%;
    text-align: center;
    color: black;
  }
  
  .content3 h1{
    color: white;
    font-size: 40px;
  }
  
  .content3 p{
    padding: 1%;
    color: white; 
    cursor: pointer;
    
  }
  

  .container3{
    width: 100%;
    height: 150vh;
    background: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .swiper{
    width: 80%;
    padding: 50px ;
    height: fit-content;
  }


.swiper-slide img {
    width: 100%;
    padding: 10px;

}


.swiper .swiper-button-prev, .swiper .swiper-button-next{
    width: 5%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.swiper .swiper-pagination-bullet-active {
    background: white;
    margin: 100%;
    cursor: pointer;
}

.main-box > div{
  padding: 20px 30px;
}

.main-box{
  display: flex;
} 

#left-box{
  flex: 1;
  order: 1;
}

#left-box h1{
  color: aliceblue;
  font-size: 35px;
}

#right-box{
  flex: 1;
  order: 2;

}

button { 
  width: 300px;
  padding: 20px;
  text-align: left;
  margin: 10px 200px;
  font-weight: bold;
  border: 2px solid #009688;
  background: rgb(90, 90, 187);
  cursor: pointer;
}


button:hover{
  border: none;
}
